.loginform{
    width: 600px;
    margin: auto;
}
.loginform input,textarea{
    width: 500px;
    margin: 5px;
    padding: 5px;
}
.loginform input[type='submit']{
    margin-top: 20px;
    width: 200px;
    cursor: pointer;
    background-color: #e62cb7;
    color: white;
    font-size: 14px;
    border: 1px solid #fff;
    padding: 8px 15px;
}